<!DOCTYPE html>
<html lang="en">
<head>

    <!-- App Title -->
    <title>AMCG</title>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <style>

        .email_body {
            font-family: 'Montserrat', sans-serif;
            padding: 25px;
        }

        /* Header Section */

        header .logo_container {
            text-decoration: none;
        }

        header .logo{
            height: auto;
            width: 178px;
            opacity: 1;
        }

        /* Main Section */

        main {
            margin: 75px 0px;
        }

        main p {
            font-size: 16px;
            text-align: left;
            letter-spacing: 0px;
            color: #1A1818;
            word-wrap: break-word;
            opacity: 1;
        }

        /* Footer Section */

        footer {
            position: relative;
        }

        footer p {
            font-size: 16px;
            text-align: left;
            letter-spacing: 0px;
        }

        footer a {
            font-size: 16px;
            text-align: left;
            letter-spacing: 0px;
            text-decoration: none;
            color: #818386;
        }

        footer .policies {
            margin-top: 20px;
        }

        footer .policies a {
            display: block;
            text-decoration: none;
            font-size: 16px;
            letter-spacing: 0px;
            color: #1A1818;
            opacity: 1;
        }

        footer .social {
            display: block;
            position: absolute;
            bottom: -10px;
            right: 0px;
        }

    </style>

</head>
<body>

<div class="email_body">

    <header>


    </header>

    <main>

        <p>Hello User,</p>
        <p>{{emailBody}}</p>

    </main>

    <footer>

    </footer>

</div>

</body>
</html>
